/*
========================================================================================
    SVantigen Pipeline Configuration
========================================================================================
    Configured according to nf-core best practices
========================================================================================
*/

manifest {
    name            = 'SVantigen'
    author          = 'Group 8'
    description     = 'Identifying candidate neoantigens and druggable mutations in SV space'
    version         = '0.1.0'
    mainScript      = 'main.nf'
    nextflowVersion = '>=26.04.6'
}

outputDir = params.outdir ?: 'results'
workflow.output.overwrite = false

// ----------------------------------------------------------------------------------------
// Global Pipeline Parameters
// ----------------------------------------------------------------------------------------
params {
    // Input options
    input                  = null
    pangenome              = null
    pangenome_index        = null
    fasta                  = null
    reads                  = null

    // Output options
    outdir                 = './results'
    publish_dir_mode       = 'copy'

    // Execution options
    enable_gpu             = false
    apptainer_cache_dir    = System.getenv('APPTAINER_CACHEDIR') ?: System.getenv('NXF_SINGULARITY_CACHEDIR') ?: "${projectDir}/singularity_images"
    apptainer_library_dir  = System.getenv('APPTAINER_LIBRARYDIR') ?: "${System.getProperty('user.home')}/.apptainer/library"
    software_versions_path = "${params.outdir ?: 'results'}/pipeline_info/software_versions.yml"
}

// ----------------------------------------------------------------------------------------
// Include Base Configuration & Process Modules Config
// ----------------------------------------------------------------------------------------
includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'

// ----------------------------------------------------------------------------------------
// Execution Profiles & Container Engines (nf-core Standard Practice)
// ----------------------------------------------------------------------------------------
profiles {
    debug {
        cleanup = false
        verbose = true
    }
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
        apptainer.enabled      = false
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        singularity.cacheDir    = params.apptainer_cache_dir
        singularity.pullTimeout = '30m'
        docker.enabled          = false
        apptainer.enabled       = false
    }
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        apptainer.cacheDir      = params.apptainer_cache_dir
        apptainer.pullTimeout   = '30m'
        docker.enabled          = false
        singularity.enabled     = false
    }
    test {
        includeConfig 'conf/test.config'
    }
}
