/*
========================================================================================
    Local Execution Profile Config
========================================================================================
    Process resources for local execution environments.
========================================================================================
*/

process {
    executor = 'local'

    withLabel: 'process_single' {
        cpus   = 1
        memory = 2.GB
    }
    withLabel: 'process_low' {
        cpus   = 2
        memory = 4.GB
    }
    withLabel: 'process_medium' {
        cpus   = 4
        memory = 8.GB
    }
    withLabel: 'process_high' {
        cpus   = 4
        memory = 12.GB
    }
}
