/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
    Defines lightweight default parameters pointing to minimal test data under assets/test/
    so the main pipeline can be executed out-of-the-box with `-profile test`.
========================================================================================
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input options
    input  = "${projectDir}/assets/test/driver_svs.vcf"
    fasta  = "${projectDir}/assets/test/reference.fasta"
    reads  = "${projectDir}/assets/test/tumor_short.fastq.gz"
    outdir = './results'
}
