/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
    Defines lightweight default parameters pointing to minimal test data under assets/test/
    so the main pipeline can be executed out-of-the-box with `-profile test`.
========================================================================================
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input options
    input               = "${projectDir}/tests/samplesheet.csv"
    reference           = "${projectDir}/assets/test/reference.fasta"
    reference_index     = "${projectDir}/assets/test/reference.fasta.fai"
    variants            = "${projectDir}/assets/test/variants_manifest.tsv"
    run_personal_variants = false
    enable_gpu          = false
    outdir              = './results'
}
